*{
    font-family: 'Bebas Neue', cursive;
}
.div-container{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    /* border: 3px black solid; */
    color: black;
    border-bottom: 1px gray solid;
}

.div-container div {
    padding-left: 20px;
    padding-right: 20px;
}
.home:hover{
    background-color: green;
    border-bottom: 5px solid greenyellow;
}
h3 {
    cursor: grab;
}

